*{
    padding: 0px;
    margin:0px;
    text-decoration: none;

}
.login{
    background-image:url("assets/image\ 2.png");
    
    text-align: center;
}
.user-psw-container{
    display:inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
}
input{
    padding: 1em;
    border: 1px solid white;
    border-radius: 50px;
    /* margin: 10px; */
    text-align: center;
    background-color: whitesmoke;
}
.user-name{
    width:1em;
    position: relative;
    top: 1.8em;
    left: 1em;

}
.login-container{
    padding-top: 3em;
    font-size:3em;
}
button{
    padding: 9px;
    border-radius:50px;
    margin-top:2em;
    border: none;
    font-size:21px;
    margin-bottom: 10em;
}
button:hover{
    background-color: #9EC4C5;
}
